p {
    width: 600px;
  }

  html {
      background-color: #f7ebf4;
  }

  body {
      margin: 40px auto;
      max-width: 500px;
      line-height: 1.7;
      font-size: 18px;
      color: #333;
      padding: 0;
  }

  h1, h2, h3 {
      line-height: 1.3;
      color: #a8135d;
  }